* {
    font-family:"Segoe UI";
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    font-size:12px;
}

QDialog,
QWidget[whiteWindow="true"] {
    background-color: rgb(255, 255, 255);
}

.QLabel[h1="true"] {
    font-size:16px;
}

.QListWidget,
.QListView,
.QTreeWidget,
.QTableWidget,
.QTreeView,
.QTableView,
.QTabBar::close-button,
QPushButton,
QToolButton,
QLineEdit,
QPlainTextEdit,
QTextEdit,
QComboBox {
    border:1px solid rgb(60,127,177);
    /*border:1px solid rgb(203,203,203);*/
}

.QTabBar:tab:!hover,
QPushButton:!hover,
QToolButton:!hover,
QLineEdit:!hover,
QPlainTextEdit:!hover,
QTextEdit:!hover,
QComboBox:!hover {
    background-color:rgb(232,246,253);
}

.QTabBar:tab:selected,
.QTabBar:tab:hover,
QPushButton:hover,
QToolButton:hover,
QComboBox[readOnly="false"]:hover,
QPlainTextEdit[readOnly="false"]:hover,
QTextEdit[readOnly="false"]:hover,
QLineEdit[readOnly="false"]:hover {
    background-color:rgb(255,255,255);
}

QLineEdit[readOnly="true"]:hover,
QPlainTextEdit[readOnly="true"]:hover,
QTextEdit[readOnly="true"]:hover,
QComboBox[readOnly="true"]:hover{
    background-color:rgb(210,239,253);
}

QLineEdit[readOnly="true"]:!hover,
QPlainTextEdit[readOnly="true"]:!hover,
QTextEdit[readOnly="true"]:!hover {
    background-color:rgb(210,239,253);
}

QPushButton {
    padding:3px;
}

QLineEdit,
QPlainTextEdit,
QTextEdit,
QComboBox {
    padding-bottom:1px;
}

QComboBox:drop-down {
    border:none; /*1px solid rgb(100,100,100);*/
    image: url(:/icons/res/arrow_down.png);
    margin-top:7px;
    margin-right:3px;
}

QProgressBar {
    border:1px solid rgb(203,203,203);
    height:12px;
}

QSplitter:handle {
    border:none;
}

.QTabBar:tab {
    border-top:1px solid rgb(203,203,203);
    border-right:1px solid rgb(203,203,203);
    border-bottom:1px solid rgb(203,203,203);
    padding:3px;
    background-color:rgb(255,255,255);
}

.QTabBar:tab:only-one,
.QTabBar:tab:first {
    border-left:1px solid rgb(203,203,203);
}

.QTabBar:close-button {
    border:none;
    image: url(:/icons/res/x-button.png);
    margin-top:2px;
    margin-left:1px;
}

.QTabBar:close-button:hover {
    image: url(:/icons/res/x-button-hover.png);
}

.QFrame[greenBar="true"] {
    background-color:rgb(20,220,20);
}

.QFrame[redBar="true"] {
    background-color:rgb(255,55,55);
}

.QFrame[blueBar="true"] {
    background-color:rgb(110,20,255);
}

.QFrame[grayBar="true"] {
    background-color:rgb(180,180,180);
}

/*
.QHeaderView:section {
    padding:2px;
    background-color:rgb(232,246,253);
    border:1px solid rgb(203,203,203);
}

.QHeaderView:section:hover {
    background-color:rgb(255,255,255);
}*/
